<div class="contenedor">
    <div class="text">
        <label class="l1">LLegar a saber</label> <br>
        <label class="text-color2 l2">Sobre mi</label>
    </div>
    <div class="boxes">
        <div class="box1">
            <div class="img">
                <div class="span"></div>
                <img src="../../assets/img/leo_foto.jpg" alt="">
            </div>

        </div>
        <div class="box2">
            <div class="sub-boxes">
                <div class="sub-b">
                    <i class="fa-solid fa-shield text-color2"></i>
                    <h3>Experiencia</h3>
                    <label for="">0.2 Años</label>
                </div>
                <div class="sub-b">
                    <i class="fa-solid fa-users text-color2"></i>
                    <h3>Clientes</h3>
                    <label for="">2 clientes satisfechos</label>

                </div>
                <div class="sub-b">
                    <i class="fa-solid fa-diagram-project text-color2"></i>
                    <h3>Proyectos</h3>
                    <label for="">5+ Completados</label>
                </div>
            </div>
            <div class="parrafos">
                <p>
                    Actualmente tengo 22 años, estoy estudiando la ingeniería de sistemas computacionales estoy en
                    8vo
                    semestre, me encanta programar y dar lo mejor de mi en cada trabajo, he
                    estado tomando curso para desarrollar mi aprendizaje mas haya de lo que me han enseñado, ¡espero
                    disfrute el
                    contenido!
                </p>
                <a href="#" class="bg-secundario">Hablemos</a>
            </div>
        </div>
    </div>
</div>