<div class="footer">
    <div class="texts">
        <div class="nombre"> 
            <h1>Leonardo</h1>
        </div>
        <div class="lista">
                <ul>
                    
                    <li> <a href="#home">Home</a> </li>
                    <li> <a href="#sobremi">Sobre mi</a></li>
                    <li> <a href="#miexperiencia">Mi expereincia</a></li>
                    <li> <a href="#misproyectos">Mis proyectos</a></li>
                    <li> <a href="#contacto">Contacto</a></li>
                </ul>
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/darkarhackergarciaoficial/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/leo._.garcia0/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="label">
            <label for="">© Leonardo - Todos los derechos reservados</label>
        </div>
    </div>
</div>