<div class="presentacion">
    <div class="redesS">
        <div class="sub-redes">
            <a href="https://www.linkedin.com/in/leonardo-garc%C3%ADa-arroyo-5a87a6216/" class="text-color2"><i class="fa-brands fa-linkedin"></i></a> <br>
            <a href="https://github.com/leogarcia99" class="text-color2"><i class="fa-brands fa-git-square"></i></a>
        </div>
       
    </div>
    <div class="perfil">
        <div class="animate__animated animate__backInDown">
            <label class="l1">Hola, Soy</label> <br>
            <label class="l2">Leonardo Garcia</label> <br>
            <label class="l3">Desarrollador web y de apps moviles</label>
        </div> <br>
        <div class="buttons  animate__animated animate__fadeInUp">
            <a class="button1" href="../../assets/pdf/miCV.pdf" download>Descargar CV</a>
            <a class="button2 bg-secundario">Hablemos</a>
        </div>
        <div class="img">
            <img src="../../assets/img/leo_f.png" alt="">
        </div>
    </div>
    <div class="down">
        <div id="mark">
            <a href="#" class="text-color2">Scroll Down</a>
        </div>
        
    </div>
</div>
