
<div class="contenedor">
  <div id="home" class="bg-primario text-white">
    <app-navegador></app-navegador>
  </div>
  <div id="sobremi"  class="bg-primario text-white">
  <app-sobremi></app-sobremi>
  </div>
   <div id="miexperiencia" class="bg-primario text-white">
    <app-miexperience></app-miexperience>
   </div>
   <div id="misproyectos"  class="bg-primario text-white">
      <app-proyectos></app-proyectos>
   </div>
   
   <div id="contacto"  class="bg-primario text-white">
    <app-contacto></app-contacto>
   </div>
  <nav class="animate__animated animate__fadeInDown">
    <a href="#home" id="a1" class="a" (click)="button1()"><i class="fa-solid fa-house"></i></a>
    <a href="#sobremi" id="a2" class="a" (click)="button2()"><i class="fa-solid fa-user"></i></a>
    <a href="#miexperiencia" id="a3" class="a" (click)="button3()"><i class="fa-solid fa-book"></i></a>
    <a href="#misproyectos" id="a4" class="a" (click)="button4()"><i class="fa-solid fa-heart-pulse"></i></a>
    <a href="#contacto" id="a5" class="a" (click)="button5()"><i class="fa-solid fa-message"></i></a>
  </nav>
  <footer id="footer" role="contentinfo">
    <app-footer></app-footer>
  </footer>
</div>
