.contenedor{
    width: 100%;
}

.textos{
    width: 100%;
    text-align: center;
}

.l1{
    font-size: 12px;
}

.l2{
    font-size: 30px;
}

.skills{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.frond, .back{
    width: 50%;
    text-align: center;
    background-color: #2A2A67;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.contenedor-front, .contenedor-back{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    transition:  0.3s;
}
.back:hover, .frond:hover{
    background-color:transparent;
    border: 1px solid #2980BF;
}

.barra{
    width: 100%;
    height: 4px;
    background-color: #999;
}

.barra .sub_div{
    height: 4px;
    background-color: #2980BF;
}

.label2{
    font-size: 12px;
    margin-left: 10px;
}

@media screen and (max-width: 821px){
    .skills{
        width: 100%;
        padding: 20px;
        display: block;
        gap: 10px;
    
    }

    .frond, .back{
        width: 100%;
        margin-bottom: 10px;
    }
}

